<div class="wrapper-center">
  <div class="form-container">

    <div class="logo-glassmorphism">
      <img src="assets/images/logo2.png" alt="Logo" class="login-logo" />
    </div>

    <p class="title">Login</p>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" placeholder="" name="email" />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="" name="password" />
        <div class="forgot"></div>
      </div>

      <button class="sign" type="submit">Sign in</button>

    </form>

    <p class="signup">
      Don't have an account?
      <a [routerLink]="['/register']" rel="noopener noreferrer">Sign up</a>
    </p>

    <div *ngIf="loginError" style="color:rgb(242, 238, 238); margin-top:10px;">
      <small>{{ loginError }}</small>
    </div>
  </div>
</div>
